@mixin underline {
	position: relative;
	display: inline-block;

	&::after {
		content: "";
		position: absolute;
		bottom: .4rem;
		left: 0;
		display: inline-block;
		width: 100%;
		height: 4px;
		background: var(--color-primary);
	}
}

@mixin box {
	position: absolute;
	background-color: var(--color-primary);
	color: #000;
}

@mixin for-phone-only {
	@media (max-width: 37.4375em) {
		//599px (599/16)
		@content;
	}
}
@mixin for-tablet-portrait-down {
	// 600px  (600/16)
	@media (max-width: 37.5em) {
		@content;
	}
}
@mixin for-tablet-landscape-down {
	// 900px  (900/16)
	@media (max-width: 56.25em) {
		@content;
	}
}
@mixin for-desktop-down {
	// 1200px  (1200/16)
	@media (max-width: 75em) {
		@content;
	}
}
@mixin for-big-desktop-up {
	// 1800px  (1800/16)
	@media (min-width: 112.5em) {
		@content;
	}
}
