@import "abstracts/functions";
@import "abstracts/mixin";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/arrows";
@import "components/button";
@import "components/calculator";
@import "components/conditions";
@import "components/consultation";
@import "components/img-slider";
@import "components/features";
@import "components/list";
@import "components/logo";
@import "components/news";
@import "components/popup";
@import "components/recommendation__box";
@import "components/sales-representative";
@import "components/search";
@import "components/video";
@import "components/yellow-box";

@import "layout/header";
@import "layout/footer";

@import "pages/home";
@import "pages/services";
