.footer {
	padding: 5rem 0;
	font-weight: 600;
	grid-column: full-start/full-end;
	background-color: rgb(0, 0, 0);

	display: grid;
	grid-template-columns: var(--grid-template-column);

	.foot {
		grid-column: center-start/center-end;
		color: var(--color-white);
		font-size: 1.7rem;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
		grid-row-gap: 2.5rem;

		h3 {
			color: rgb(124, 120, 120);
		}

		a {
			text-decoration: none;
			color: var(--color-white);

			@include underline;

			&::after {
				bottom: .1rem;
			}
		}

		&__sub {
			form {
				input {
					font-size: 2rem;
					font-family: inherit;
					color: inherit;
					padding: 1.5rem 2rem;
					border: none;
					background-color: rgba(167, 157, 157, 0.363);
					width: 100%;
					display: block;
					margin-bottom: 3rem;
				}

				button {
					display: block;
				}

				&::-webkit-input-placeholder {
					color: rgba(167, 157, 157, 0.363);
				}
			}
		}
	}
}
