.header {
	position: relative;
	background-color: #000;
	color: var(--color-white);
	font-size: var(--default-font-size);
	font-weight: 400;
	grid-column: full-start/full-end;

	display: grid;
	grid-template-columns: var(--grid-template-column);
	grid-template-rows: min-content 1fr;

	&__main-nav {
		padding: 2.8rem 0;
		grid-column: center-start/center-end;
		display: flex;
		align-items: center;
	}
}

.content-container {
	grid-column: center-start/full-end;
	display: grid;
	grid-template-columns: minmax(min-content, 60rem) minmax(50%, 1fr);
	grid-template-rows: repeat(2, fit-content);
	grid-column-gap: 0.5rem;

	@include for-tablet-landscape-down {
		grid-column: center-start/center-end;
		grid-template-columns: minmax(min-content, 1fr);
		grid-row-gap: 5rem;
		background-color: #000;
	}

	.content {
		grid-column: 1/2;
		grid-row: 1/2;
		padding-top: 8rem;
	}
}

.img-container {
	grid-column: 2/3;
	grid-row: 1/3;
	position: relative;

	@include for-tablet-landscape-down {
		grid-column: 1/2;
		grid-row: 2/3;
		margin-bottom: 5rem;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}

	.img {
		height: 60rem;
	}
}

.nav {
	position: relative;
	z-index: 15;
	display: flex;
	flex: 1;

	.header__list:not(:first-of-type) {
		margin: 0 auto;

		@include for-tablet-landscape-down {
			display: none;
		}
	}

	@include for-tablet-landscape-down {
		.header__list:first-of-type {
			margin: 0 auto;
		}
	}

	@include for-tablet-portrait-down {
		.header__list:first-of-type {
			display: none;
		}
	}
}

.icon {
	width: 2rem;
	height: 2rem;
	fill: var(--color-white);
}
