.calculator {
  display: grid;
  grid-template-columns: var(--grid-template-column);

  &__title {
    grid-column: center-start/center-end;
    margin-bottom: 5rem;
    color: var(--color-white);

    h3 {
      position: relative;
      display: inline-block;

      &::after {
        content: "";
        position: absolute;
        bottom: 0.4rem;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 4px;
        background: var(--color-primary);
      }
    }
  }

  &__box {
    width: 80%;
    background-color: var(--color-white);
    padding: 3.5rem 3.2rem;
    grid-column: center-start/center-end;

    .calculator__slider {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2.2rem;

      label {
        display: block;
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
      }

      input[type="range"] {
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        width: 100%; /* Specific width is required for Firefox. */
        background: transparent; /* Otherwise white in Chrome */
      }

      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
      }

      input[type="range"]:focus {
        outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
      }

      input[type="range"]::-ms-track {
        width: 100%;
        cursor: pointer;

        /* Hides the slider so custom styles can be added */
        background: transparent;
        border-color: transparent;
        color: transparent;
      }

      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 1px solid var(--color-primary);
        height: 1.8rem;
        width: 1.8rem;
        border-radius: 50%;
        background: var(--color-primary);
        cursor: pointer;
        margin-top: -6px;
      }

      input[type="range"]::-moz-range-thumb {
        border: 1px solid var(--color-primary);
        height: 1.8rem;
        width: 1.8rem;
        border-radius: 50%;
        background: var(--color-primary);
        cursor: pointer;
      }

      input[type="range"]::-ms-thumb {
        border: 1px solid var(--color-primary);
        height: 1.8rem;
        width: 1.8rem;
        border-radius: 50%;
        background: var(--color-primary);
        cursor: pointer;
      }

      input[type="range"]::-webkit-slider-runnable-track {
        width: 100%;
        height: 0.5rem;
        cursor: pointer;
        background: var(--color-primary);
      }

      input[type="range"]:focus::-webkit-slider-runnable-track {
        background: var(--color-primary);
      }

      input[type="range"]::-moz-range-track {
        position: relative;
        width: 100%;
        height: 0.5rem;
        cursor: pointer;
        background: var(--color-primary);
      }

      input[type="range"]::-ms-track {
        width: 100%;
        height: 0.5rem;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }

      input[type="range"]::-ms-fill-lower {
        background: #000;
        border: 0.2px solid #010101;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      }
      input[type="range"]:focus::-ms-fill-lower {
        background: var(--color-grey-light-4);
      }
      input[type="range"]::-ms-fill-upper {
        background: #000;
        border: 0.2px solid #010101;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      }
      input[type="range"]:focus::-ms-fill-upper {
        background: var(--color-grey-light-4);
      }
    }

    .calculator__selects {
      margin: 2rem 0;
      display: flex;
      flex: 1;

      label,
      p {
        display: block;
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
      }

      /* Reset Select */
      select {
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        height: 4rem;
        padding: 1.2rem;
        border: 1px solid var(--color-grey-light-4);
      }

      /* Remove IE arrow */
      select::-ms-expand {
        display: none;
      }

      .select {
        position: relative;
        width: 90%;

        /* Arrow */
        &::after {
          content: "\25BC";
          position: absolute;
          top: 30%;
          right: 0;
          padding: 0 1em;
          cursor: pointer;
          pointer-events: none;
        }
      }

      .terrace {
        display: flex;
        width: 90%;
        height: 4rem;
        padding: 1.2rem;

        & > * {
          flex: 1;
        }

        &__choice {
          background-color: #000;
          color: var(--color-white);
          transition: all 0.2s ease-in;
        }

        input[type="radio"]:checked + &__choice {
          background-color: var(--color-primary);
          color: #000;
        }
      }
    }

    .calculator__selects > * {
      flex: 1;
    }
  }
}
