.conditions{
    padding-bottom:10rem;
    padding-top: 16rem;
    grid-column: center-start/center-end;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, max-content));
    grid-template-rows: repeat(3,1fr);
    grid-gap: 2rem;
    justify-content: center;

    .condition{
       padding: 3.5rem 3rem;
       border:1px solid var(--color-grey-light-4);
       transition: all .2s ease-in;
       
        &__heading{
            margin: 0;
            font-size: 6rem;
            font-weight: 400;
            display: flex;

            span{
                font-size: 2.2rem;
                align-self: center;
                margin-left: .5rem;
            }
        }

        &__content{
            margin-top: 1.5rem;

            &-heading{
                @include underline;

                &::after{
                    z-index: -1;
                    transform-origin: left;
                    transition: transform .2s ease-in;
                }
            }

            p{
                margin-top: .8rem;
                font-size: 1.5rem;
                line-height: 1.3;
                font-weight: 400;
            }
        }

        &-up{
            grid-row: 1/3;
        }

        &-down{
            grid-row: 2/4;
        }

    }

    .condition:hover .condition__content-heading::after{
            transform: scaleX(0);
        
    }

    .condition:hover {
        transform: translateY(-3em) scale(1.02);
        box-shadow: 0 3px 15px rgba(0,0,0,.2);
}
}