.services-container {
	grid-template-rows: 65vh min-content 70rem;
}

.services-features {
	grid-row: 2/3;
}

.construction {
	grid-row: 3/4;
	grid-column: full-start/full-end;
	display: grid;
	grid-template-columns: var(--grid-template-column);
	background-image: url(../../img/denis-umpleby-XF_o3mPXZCU-unsplash.jpg);
	background-repeat: no-repeat;
	background-position: center;

	&-box {
		margin-top: 9rem;
		grid-column: 7/11;
		padding: 5rem;
		padding-bottom: 0;
		background-color: var(--color-white);
	}

	h2 {
		width: 50%;
		font-size: 5.5rem;
	}

	p,
	ul {
		font-size: 1.8rem;
		font-weight: 400;
	}

	li {
		margin-bottom: .5rem;
	}
}
